$unit: 8px;
$fontSizeSmall: 14px;
$fontSize: 18px;
$fontTableSize: 20px;
$defaultBoxShadowSize: 3px;
$defaultFont: "Open Sans", sans-serif;

$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorEbb: #EDE9E8;
$colorAlto: #DDDDDD;
$colorGenoa: #15837B;
$colorLochinvar: #339999;
$colorGallery: #EEEEEE;
$colorCerulean: #11ABD1;
$colorBlueLagoon: #006F7E;
$colorSilver: #CCCCCC;
$colorCodGray: #0D0D0D;
$colorElm: #1D827A;
$colorGenoa: #156A65;
